changes.txt
license.txt  
love.ico   
msvcr120.dll  
SDL2.dll
game.ico     
love.dll     
lovec.exe  
mpg123.dll    
OpenAL32.dll  
love.exe     
lua51.dll  
msvcp120.dll  
readme.txt    
Uninstall.exe
